body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-72px;
  width:1108px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1108px;
  height:750px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1143 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:49px;
  width:1108px;
  height:750px;
  display:flex;
}
#u1143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1144_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:60px;
  height:60px;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:62px;
  width:50px;
  height:50px;
  display:flex;
}
#u1144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:226px;
  width:80px;
  height:27px;
  display:flex;
  font-size:20px;
  color:#000000;
}
#u1146 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1146_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1147 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:215px;
  width:50px;
  height:50px;
  display:flex;
}
#u1147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1149 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:309px;
  width:80px;
  height:27px;
  display:flex;
  font-size:20px;
}
#u1149 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1149_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1150 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:298px;
  width:50px;
  height:50px;
  display:flex;
}
#u1150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1152 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:391px;
  width:80px;
  height:27px;
  display:flex;
  font-size:20px;
}
#u1152 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1152_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1153 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:380px;
  width:50px;
  height:50px;
  display:flex;
}
#u1153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1155 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:473px;
  width:80px;
  height:27px;
  display:flex;
  font-size:20px;
}
#u1155 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1155_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1156 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:462px;
  width:50px;
  height:50px;
  display:flex;
}
#u1156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1158 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:555px;
  width:80px;
  height:27px;
  display:flex;
  font-size:20px;
}
#u1158 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1158_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1159 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:544px;
  width:50px;
  height:50px;
  display:flex;
}
#u1159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1161 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:638px;
  width:80px;
  height:27px;
  display:flex;
  font-size:20px;
}
#u1161 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1161_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1162 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:627px;
  width:50px;
  height:50px;
  display:flex;
}
#u1162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1164 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:720px;
  width:80px;
  height:27px;
  display:flex;
  font-size:20px;
}
#u1164 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1164_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1165 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:709px;
  width:50px;
  height:50px;
  display:flex;
}
#u1165 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:650px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1166 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:133px;
  width:3px;
  height:650px;
  display:flex;
}
#u1166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#555555;
}
#u1167 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:75px;
  width:252px;
  height:24px;
  display:flex;
  font-size:18px;
  color:#555555;
}
#u1167 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1167_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:1108px;
  top:72px;
  width:30px;
  height:30px;
  display:flex;
}
#u1168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#409EFF;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:144px;
  width:73px;
  height:27px;
  display:flex;
  font-size:20px;
  color:#409EFF;
}
#u1169 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1169_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:133px;
  width:50px;
  height:50px;
  display:flex;
}
#u1170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:885px;
  height:2px;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:180px;
  width:884px;
  height:1px;
  display:flex;
}
#u1171 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#409EFF;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:152px;
  width:89px;
  height:24px;
  display:flex;
  font-size:18px;
  color:#409EFF;
}
#u1172 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1172_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:152px;
  width:94px;
  height:24px;
  display:flex;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1173 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1173_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:215px;
  width:869px;
  height:116px;
}
#u1175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:0px;
  width:82px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:0px;
  width:89px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:30px;
}
#u1178 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:0px;
  width:543px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:0px;
  width:110px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:44px;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:45px;
  height:44px;
  display:flex;
  text-align:left;
}
#u1180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:44px;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:30px;
  width:82px;
  height:44px;
  display:flex;
  text-align:left;
}
#u1181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:44px;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:30px;
  width:89px;
  height:44px;
  display:flex;
  text-align:left;
}
#u1182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:44px;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:30px;
  width:543px;
  height:44px;
  display:flex;
  text-align:left;
}
#u1183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:44px;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:30px;
  width:110px;
  height:44px;
  display:flex;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:20px;
}
#u1184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:42px;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:74px;
  width:45px;
  height:42px;
  display:flex;
  text-align:left;
}
#u1185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:74px;
  width:82px;
  height:42px;
  display:flex;
  text-align:left;
}
#u1186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:42px;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:74px;
  width:89px;
  height:42px;
  display:flex;
  text-align:left;
}
#u1187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:42px;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:74px;
  width:543px;
  height:42px;
  display:flex;
  text-align:left;
}
#u1188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:74px;
  width:110px;
  height:42px;
  display:flex;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(217, 0, 27, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:150px;
  width:15px;
  height:15px;
  display:flex;
}
#u1190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:152px;
  width:122px;
  height:24px;
  display:flex;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1191 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1191_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
