body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-72px;
  width:1108px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1108px;
  height:736px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:49px;
  width:1108px;
  height:736px;
  display:flex;
}
#u1394 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1395_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:60px;
  height:60px;
}
#u1395 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:62px;
  width:50px;
  height:50px;
  display:flex;
}
#u1395 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:650px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1396 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:133px;
  width:3px;
  height:650px;
  display:flex;
}
#u1396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#555555;
}
#u1397 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:75px;
  width:252px;
  height:24px;
  display:flex;
  font-size:18px;
  color:#555555;
}
#u1397 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1397_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1398 {
  border-width:0px;
  position:absolute;
  left:1108px;
  top:72px;
  width:30px;
  height:30px;
  display:flex;
}
#u1398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1399 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:231px;
  width:80px;
  height:27px;
  display:flex;
  font-size:20px;
  color:#000000;
}
#u1400 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1400_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1401 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:220px;
  width:50px;
  height:50px;
  display:flex;
}
#u1401 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:314px;
  width:80px;
  height:27px;
  display:flex;
  font-size:20px;
}
#u1403 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1403_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:303px;
  width:50px;
  height:50px;
  display:flex;
}
#u1404 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#409EFF;
}
#u1405 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:396px;
  width:80px;
  height:27px;
  display:flex;
  font-size:20px;
  color:#409EFF;
}
#u1405 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1405_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1406 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1407 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:478px;
  width:80px;
  height:27px;
  display:flex;
  font-size:20px;
}
#u1407 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1407_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1408 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:467px;
  width:50px;
  height:50px;
  display:flex;
}
#u1408 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1409 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1410 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:560px;
  width:80px;
  height:27px;
  display:flex;
  font-size:20px;
}
#u1410 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1410_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1411 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:549px;
  width:50px;
  height:50px;
  display:flex;
}
#u1411 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1411_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1413 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:643px;
  width:80px;
  height:27px;
  display:flex;
  font-size:20px;
}
#u1413 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1413_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1414 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:632px;
  width:50px;
  height:50px;
  display:flex;
}
#u1414 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1415 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1416 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:725px;
  width:80px;
  height:27px;
  display:flex;
  font-size:20px;
}
#u1416 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1416_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1417 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:714px;
  width:50px;
  height:50px;
  display:flex;
}
#u1417 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u1419 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:149px;
  width:73px;
  height:27px;
  display:flex;
  font-size:20px;
  color:#000000;
}
#u1419 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1419_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1420 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:138px;
  width:50px;
  height:50px;
  display:flex;
}
#u1420 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1421 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:386px;
  width:50px;
  height:50px;
  display:flex;
}
#u1421 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1421_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:917px;
  height:2px;
}
#u1422 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:139px;
  width:916px;
  height:1px;
  display:flex;
}
#u1422 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1422_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1423 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:121px;
  width:133px;
  height:19px;
  display:flex;
}
#u1423 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1423_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1424 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:220px;
  width:56px;
  height:19px;
  display:flex;
}
#u1424 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1424_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1425 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:271px;
  width:56px;
  height:19px;
  display:flex;
}
#u1425 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1425_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1426 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:354px;
  width:56px;
  height:19px;
  display:flex;
}
#u1426 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1426_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1427 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:467px;
  width:56px;
  height:19px;
  display:flex;
}
#u1427 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1427_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-16px;
  width:143px;
  height:33px;
}
#u1428p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:132px;
  height:6px;
}
#u1428p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:6px;
}
#u1428p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:2px;
}
#u1428p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u1428p002 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:-16px;
  width:36px;
  height:34px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1428p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u1428 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:176px;
  width:127px;
  height:1px;
  display:flex;
}
#u1428 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1428_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1429 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:159px;
  width:30px;
  height:30px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u1429 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1429_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#409EFF;
}
#u1430 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:166px;
  width:56px;
  height:19px;
  display:flex;
  color:#409EFF;
}
#u1430 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1430_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1431 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:159px;
  width:30px;
  height:30px;
  display:flex;
  font-size:18px;
}
#u1431 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1432 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:166px;
  width:56px;
  height:19px;
  display:flex;
}
#u1432 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1432_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:666px;
  height:25px;
}
#u1433 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:217px;
  width:666px;
  height:25px;
  display:flex;
  color:#D7D7D7;
  text-align:left;
}
#u1433 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1433_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1434 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:271px;
  width:64px;
  height:62px;
  display:flex;
  font-size:28px;
}
#u1434 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u1435 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:314px;
  width:146px;
  height:19px;
  display:flex;
  color:#AAAAAA;
}
#u1435 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1435_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:666px;
  height:98px;
}
#u1436 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:354px;
  width:666px;
  height:98px;
  display:flex;
  color:#D7D7D7;
  text-align:left;
}
#u1436 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u1437 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:426px;
  width:57px;
  height:19px;
  display:flex;
  color:#D7D7D7;
}
#u1437 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1437_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1438 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:477px;
  width:64px;
  height:62px;
  display:flex;
  font-size:28px;
}
#u1438 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1438_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:28px;
  background:-webkit-linear-gradient(276.843438603909deg, rgba(64, 158, 255, 1) -13%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 113%, rgba(0, 102, 255, 1) 113%);
  background:-moz-linear-gradient(173.156561396091deg, rgba(64, 158, 255, 1) -13%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 113%, rgba(0, 102, 255, 1) 113%);
  background:linear-gradient(173.156561396091deg, rgba(64, 158, 255, 1) -13%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 113%, rgba(0, 102, 255, 1) 113%);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1439 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:714px;
  width:75px;
  height:28px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u1439 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background:-webkit-linear-gradient(280.86956658549deg, rgba(64, 158, 255, 1) 3%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 97%, rgba(0, 102, 255, 1) 97%);
  background:-moz-linear-gradient(169.13043341451deg, rgba(64, 158, 255, 1) 3%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 97%, rgba(0, 102, 255, 1) 97%);
  background:linear-gradient(169.13043341451deg, rgba(64, 158, 255, 1) 3%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 97%, rgba(0, 102, 255, 1) 97%);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1440 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:714px;
  width:120px;
  height:28px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u1440 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1441 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:714px;
  width:84px;
  height:28px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u1441 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
