body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-40px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:650px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u596 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:375px;
  height:650px;
  display:flex;
}
#u596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:375px;
  height:64px;
  display:flex;
  color:#CC99CC;
}
#u597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:16px;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:45px;
  width:373px;
  height:16px;
  display:flex;
}
#u598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:75px;
  width:76px;
  height:18px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u599_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:76px;
  width:8px;
  height:14px;
  display:flex;
}
#u600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:67px;
  width:64px;
  height:26px;
  display:flex;
}
#u602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:73px;
  width:15px;
  height:15px;
  display:flex;
}
#u604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:78px;
  width:6px;
  height:6px;
  display:flex;
}
#u605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:76px;
  width:8px;
  height:8px;
  display:flex;
}
#u606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:78px;
  width:5px;
  height:5px;
  display:flex;
}
#u607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:78px;
  width:5px;
  height:5px;
  display:flex;
}
#u608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:218px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u609 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:120px;
  width:333px;
  height:218px;
  display:flex;
}
#u609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:302px;
  width:319px;
  height:21px;
  display:flex;
  font-size:16px;
}
#u610 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:218px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u611 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:347px;
  width:333px;
  height:218px;
  display:flex;
}
#u611 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:529px;
  width:319px;
  height:21px;
  display:flex;
  font-size:16px;
}
#u612 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:174px;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:120px;
  width:333px;
  height:174px;
  display:flex;
}
#u613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:174px;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:347px;
  width:333px;
  height:174px;
  display:flex;
}
#u614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u615_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:343px;
  height:120px;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:580px;
  width:333px;
  height:110px;
  display:flex;
}
#u615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u616_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:60px;
  height:60px;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:134px;
  width:50px;
  height:50px;
  display:flex;
}
#u616 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u617_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:60px;
  height:60px;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:357px;
  width:50px;
  height:50px;
  display:flex;
}
#u617 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u618_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:60px;
  height:60px;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:591px;
  width:50px;
  height:50px;
  display:flex;
}
#u618 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
