body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-72px;
  width:1108px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1108px;
  height:728px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u636 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:49px;
  width:1108px;
  height:728px;
  display:flex;
}
#u636 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u637_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:60px;
  height:60px;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:62px;
  width:50px;
  height:50px;
  display:flex;
}
#u637 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:606px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:133px;
  width:3px;
  height:606px;
  display:flex;
}
#u638 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#555555;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:75px;
  width:252px;
  height:24px;
  display:flex;
  font-size:18px;
  color:#555555;
}
#u639 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u639_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:1108px;
  top:72px;
  width:30px;
  height:30px;
  display:flex;
}
#u640 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u641_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:80px;
  height:79px;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:149px;
  width:60px;
  height:59px;
  display:flex;
}
#u641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:232px;
  width:60px;
  height:60px;
  display:flex;
}
#u642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:859px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:171px;
  width:859px;
  height:568px;
  display:flex;
}
#u643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:859px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:125px;
  width:859px;
  height:47px;
  display:flex;
}
#u644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:144px;
  width:166px;
  height:24px;
  display:flex;
}
#u645 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u645_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:49px;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:187px;
  width:50px;
  height:49px;
  display:flex;
}
#u646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:14px;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:222px;
  width:22px;
  height:14px;
  display:flex;
}
#u647 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:212px;
  width:138px;
  height:34px;
  display:flex;
  text-align:left;
}
#u648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:1088px;
  top:261px;
  width:50px;
  height:50px;
  display:flex;
}
#u649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:18px;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:294px;
  width:106px;
  height:18px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u650 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:34px;
  background:inherit;
  background-color:rgba(37, 185, 151, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:286px;
  width:138px;
  height:34px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:1088px;
  top:355px;
  width:50px;
  height:50px;
  display:flex;
}
#u652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:144px;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:388px;
  width:150px;
  height:144px;
  display:flex;
}
#u653 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:859px;
  height:173px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:566px;
  width:859px;
  height:173px;
  display:flex;
}
#u654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:566px;
  width:842px;
  height:28px;
  display:flex;
}
#u655 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:570px;
  width:20px;
  height:20px;
  display:flex;
}
#u656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:572px;
  width:48px;
  height:16px;
  display:flex;
  font-size:12px;
}
#u657 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u657_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AAAAAA;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:603px;
  width:60px;
  height:16px;
  display:flex;
  font-size:12px;
  color:#AAAAAA;
}
#u658 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u658_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:1088px;
  top:696px;
  width:68px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u659 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(217, 0, 27, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:281px;
  width:12px;
  height:12px;
  display:flex;
}
#u660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#409EFF;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:231px;
  width:80px;
  height:27px;
  display:flex;
  font-size:20px;
  color:#409EFF;
}
#u661 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u661_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:314px;
  width:80px;
  height:27px;
  display:flex;
  font-size:20px;
}
#u663 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u663_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:303px;
  width:50px;
  height:50px;
  display:flex;
}
#u664 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:396px;
  width:80px;
  height:27px;
  display:flex;
  font-size:20px;
}
#u666 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u666_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:385px;
  width:50px;
  height:50px;
  display:flex;
}
#u667 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:478px;
  width:80px;
  height:27px;
  display:flex;
  font-size:20px;
}
#u669 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u669_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:467px;
  width:50px;
  height:50px;
  display:flex;
}
#u670 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:560px;
  width:80px;
  height:27px;
  display:flex;
  font-size:20px;
}
#u672 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u672_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:549px;
  width:50px;
  height:50px;
  display:flex;
}
#u673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:643px;
  width:80px;
  height:27px;
  display:flex;
  font-size:20px;
}
#u675 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u675_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:632px;
  width:50px;
  height:50px;
  display:flex;
}
#u676 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:725px;
  width:80px;
  height:27px;
  display:flex;
  font-size:20px;
}
#u678 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u678_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:714px;
  width:50px;
  height:50px;
  display:flex;
}
#u679 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:149px;
  width:73px;
  height:27px;
  display:flex;
  font-size:20px;
  color:#000000;
}
#u681 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u681_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:138px;
  width:50px;
  height:50px;
  display:flex;
}
#u682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:220px;
  width:50px;
  height:50px;
  display:flex;
}
#u683 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
